
[project]
name = "{{ project_name }}"
version = "0.1.0"
dependencies = []
requires-python = ">=3.8"
{%- if author_name %}
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" }
]
{%- endif %}
description = "{{ project_description }}"
readme = "README.md"
classifiers = [
  "Programming Language :: Python"
]

{% if project_type != "app" -%}
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.target.wheel]
packages = ["src/{{ package_name }}"]
{% endif %}
